@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

nav {
  font-family: "Nanum Pen Script", cursive;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

* ::-webkit-scrollbar-thumb {
  background: #232323;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  opacity: 1;
  width: 5px;
}

::-webkit-scrollbar-track {
  width: 5px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
